<div class="container-fluid py-6 my-6 mt-0">
  <div class=" row">
    <div class="col-4">
      <div class="d-flex flex-column">
        <div class="lv2_title" (mouseenter)="index = 0">
          a1
        </div>
        <div class="lv2_title" (mouseenter)="index = 1" (mouseleave)="index = 0">
          a2
        </div>
        <div class="lv2_title" (mouseenter)="index = 2" (mouseleave)="index = 0">
          a3
        </div>
      </div>
    </div>
    <div class="col-8">
      <section class="d-flex">
        <div>
          {{routeMenuLv2[index].title}}
        </div>
        <div class="product_image">
          <img src="abc.png" [alt]="routeMenuLv2[index].title" />
        </div>
      </section>
    </div>
  </div>
</div>