<div class="container-fluid nav-bar">
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-lg">
      <h1 class="text-primary fw-bold mb-0"><span (click)="navigateTo('/')"
          class="text-dark dancing-script-logo cursor-pointer">Cat
          Coders</span> </h1>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul *ngFor="let navbar of listNavbar" class="d-flex jutify-content-between">
          <li (click)="navigateTo(navbar['url'])" class="nav-item nav-link">{{navbar['title']}}</li>
        </ul>
      </div>
      <button class="btn-search btn btn-primary btn-md-square me-4 rounded-circle d-none d-lg-inline-flex"
        data-bs-toggle="modal" data-bs-target="#searchModal"><mat-icon>search</mat-icon></button>
      <span (click)="navigateTo('book-now')"
        class="btn btn-primary py-2 px-4 d-none d-xl-inline-block rounded-pill">Book Now</span>
    </nav>
  </div>
</div>