@import "../../commons/variable";
@import "../../../styles.scss";

.nav-bar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: $header;
}

.nav-item {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;

  &:hover {
    color: $primary;
  }
}

@include dancing-script(logo, 900); // Replace with actual values