<div class="container-fluid nav-bar">
  <div class="container">
    <nav class="navbar navbar-light navbar-expand-lg">
      <a href="/" class="navbar-brand">
        <h1 class="text-primary fw-bold mb-0"><span class="text-dark dancing-script-logo">Cat Coders</span> </h1>
      </a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="d-flex jutify-content-between">
          <li><a href="/" class="nav-item nav-link">Home</a></li>
          <li><a href="/about" class="nav-item nav-link">About</a></li>
          <li><a href="/" class="nav-item nav-link">Services</a></li>
          <li><a href="/" class="nav-item nav-link">Events</a></li>
          <li><a href="/" class="nav-item nav-link active">Menu</a></li>
          <li><a href="/" class="nav-item nav-link">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>